@model IdentityProvider.Models.ForgotPasswordModel

<div class="login-page">
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6 mx-auto">
            <div class="form-container">
                <div class="form__header">
                    <h1>Reset Password</h1>
                    <p class="form__text">
                        Provide your email to get a password reset link
                    </p>
                </div>
                <form class="form" asp-action="ForgotPassword">
                    <!-- email address -->
                    <div class="form__group form__group_small">
                        <input class="form__input"
                               type="text"
                               id="email"
                               asp-for="Email"
                               placeholder="Email address"
                               autofocus />
                    </div>

                    <p>
                        <span>Know your password?</span>
                        <a asp-controller="Account"
                           asp-action="Login"
                           class="form__link">
                            Log in
                        </a>
                    </p>
                    <button class="form__button" name="button" type="submit">
                        Send reset link
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>