@model IdentityProvider.Models.ResetPasswordModel

<div class="login-page">
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6 mx-auto">
            <div class="form-container">
                <div class="form__header">
                    <h1>Confirm Reset</h1>
                    <p class="form__text">
                        Provide a strong password in order to reset your account
                    </p>
                </div>
                <form class="form" asp-action="ResetPassword">
                    <input asp-for="Token" type="hidden" />
                    <input asp-for="Email" type="hidden" />
                    <!-- Password -->
                    <div class="form__group form__group_small">
                        <input asp-for="Password"
                               class="form__input"
                               id="password"
                               placeholder="New password"
                               autocomplete="off" />
                    </div>
                    <!-- Confirm Password -->
                    <div class="form__group form__group_small">
                        <input asp-for="ConfirmPassword"
                               class="form__input"
                               id="confirmpassword"
                               placeholder="New password"
                               autocomplete="off" />
                    </div>

                    <button class="form__button" name="button" type="submit">
                        Reset
                    </button>
                    <div asp-validation-summary="All"></div>
                </form>
            </div>
        </div>
    </div>
</div>