<!doctype html>
<html>
<head>
    <title>Dama Verification Code</title>
</head>
<body>
    It looks like you tried to sign in from a different location, device, or browser:<br /><br />
    Date: {date} UTC<br /><br />

    Account: {account}<br />
    Location: {location}<br />
    IP Address: {ipaddress}<br />
    Operating system: {os}<br />
    Browser: {browser}<br /><br />

    Enter this 6 digit code on the sign in page to confirm your identity:<br /><br />

    {token}
    <br /><br />
    If you receive these emails every time you sign in or have other problems with the code, see our troubleshooting guide:
    https://www.damafin.net/docs/getting-started<br /><br /><br /><br />


    Yours securely,<br />
    Team Dama
</body>
</html>